body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* BARE DE NAVIGATION STYLE */

nav{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    background-color: rgb(238, 232, 232);
    padding: 5px;
    position: sticky;
    top: 0;
}
nav div h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 35px;
    cursor: pointer;
    
}
nav h1 span{
    color: orangered;
}
nav ul li{
    list-style: none;
    text-transform: capitalize;
    display: inline;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav ul li a:hover{
    color: orangered;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 5px 10px;
}
nav ul li .active{
    color: black;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 5px 10px;
    
}
nav input{
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
}

/* HEADER STYLE */

header{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    text-transform: capitalize;
    color: rgb(26, 24, 24);
    font-size: 24px;
}
.title h2 span{
    color: orangered;
    text-transform: uppercase;
}
header button{
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: rgb(26, 24, 24);
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(247, 236, 236);
    margin: 5px auto;
}
header p{
    font-size: 20px;
    color: black;
}

/* MAIN CONTAINER STYLE */

.main_container {
    margin: 50px auto;
}

/* SECTION CARDS STYLE*/

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px 100px;
}
.card{
    margin: 20px auto;
    background-color: rgb(238, 232, 232);
    border: 1px solid rgb(185, 179, 179);

}
.card h4{
    font-size: 15px;
}
.card img{
    width: 250px;

}
.name_price{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* FORMULAIRE STYLE */

.contact h2{
    text-align: center;
    font-size: 25px;
}
.contact {
    width: 50%;
    border: 2px solid orangered;
    border-radius: 2%;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    
}
.contact input[type="text"], input[type="email"],input[type="number"] {
    width: 50%;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
}
.contact input[type="submit"]{
    border: none;
    border-radius: 20px;
    color: black;
    background-color: white;
    padding: 10px 40px;
    margin-left: 20px;
    border: 1px solid orangered;
}
.contact input[type="submit"]:hover{
    color: black;
    background-color: orangered;
    cursor: pointer;
    text-align: center;
}

/* PIED DE PAGE */
footer p{
    margin-top: 50px;
}
footer{
    text-align: center;
    text-transform: capitalize;
    color: black;
    font-size: 20px;
    margin: 20px auto;
}
footer a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 10px 20px;
}
footer a:hover{
    color: orangered;
    border-radius: 10px;
    border-bottom: 1px solid orangered;
}